@import "style-xpj";
/*主色*/

$green:rgba(0,255,238,1);//按钮、文字及导航颜色
$green1:rgba(85, 204, 128, 1);
$red:rgba(255, 94, 116, 1);
$red1:rgba(255, 84, 84, 1);
$red2:rgba(255, 94, 94, 1);
$disabled:rgba(240, 240, 240, 1);//禁用背景色
$white: rgba(255, 255, 255, 1); //白色
$black: rgba(0, 0, 0, 1); //黑色

//background-color  //统计表颜色
$bg-body:#212121;//body背景色
$bg-table-header:rgba(255,255,255,0.12);//表头背景颜色
$bg-nav:#212121;//导航背景
$bg-grey:#212121;


// .v-modal
//border-color边框颜色
$bd-color:rgba(255,255,255,0.501);//下拉框及input输入框
$bd-table-header:#212121;;//表格-表头
$bd-table-body:#212121;//表格-body
$bd-grey:rgba(221, 221, 221, 1);//灰色线
$bd-device:rgba(222,243,246,1);

//font-color
$color-999:rgba(153, 153, 153, 1);//#999
$color-666:white;//#666
$color-AAA:rgba(255, 255, 255, 0.5);//#AAA
$color-333:white; //#333
$color-444: rgba(68, 68, 68, 1); //#444

$font: normal 400 "-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif"; //常规字体
$font-bold: normal 600 "-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif"; //加粗字体
$font-size: 13px;

/*初始化样式&公共样式*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//滚动条样式
*::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  transition: all .3s ease;
}
*::-webkit-scrollbar-thumb {
  background:#666;
  border-radius: 4px;
  transition: all .3s ease;
}

[v-cloak] {
  display: none !important;
}
:focus {
  outline: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
}

a,img,iframe,button {
  border: none;
  outline: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border: 0;
}

ol,ul,li {
  list-style: none;
}

select {
  margin: inherit;
}

abbr,article,aside,audio,canvas,datalist,details,dialog,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video {
  display: block;
}

//浮动
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}

//清浮动
.clrfix {
  zoom: 1;
}
.clrfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

//省略号
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transition {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

//按钮样式
button::after {
  border: none;
}
button{
  display: block;
  padding: 10 30px;
  border-radius:2px;
  margin-bottom: 15px;
  &:hover{
    cursor: pointer;
    // color: #00FFEE;
    // color: #666;
  }
}
//有背景色
.btn-bg-green{
  background:rgba(0,255,238,0.13);
  padding: 10px 30px;
  border: 1px solid #00FFEE;
  border-radius: 2px;
  color: #00FFEE;
  font-size: 14px;
}
.btn-bg-green:hover{
  background:rgba(0,255,238,0.31);
  span {
    color: #00FFEE;
  }
}
.el-button:focus, .el-button:hover{
  color: #00FFEE;
  border: 1px solid #00FFEE;
  background-color: rgba(0,255,238,0.13);
}
//无背景有边框
.btn-line-green{
  padding: 10px 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color:#ffffff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}
.btn-line-green:hover{
  background: rgba(0, 0, 0, 0.2);
  color:#ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
.btn-line-grey{
  display: block;
  height:36px;
  padding: 12px 20px;
  margin-bottom: 15px;
  background:rgba(0,0,0,0.4);
  border:1px solid rgba(255,255,255,0.5019607843137255);
  border-radius: 2px;
  color: #ffffff;
}
.btn-line-grey:hover{
  background:rgba(0,0,0,0.2);
}
/*分页器*/
.el-pagination {
  padding: 0;
  height: 28px;
}
.el-pagination.is-background {
  border-radius: 2px;
}
.el-pagination.is-background .el-pager li {
  margin: 0 !important;
  height: 28px;
  line-height: 28px;
  border-radius: 0;
  font-weight: normal;
  border: 1px solid rgba(255,255,255,0.501);
  color: white;
  border-right: none;
  background: black;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev {
  margin: 0 !important;
  border-radius: 0;
  background: black;
  border: 1px solid rgba(255,255,255,0.501);
}
.el-pagination.is-background .btn-prev {
  border-right: none;
  background: black;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: $green !important;
  color: black;
  font-weight: bold;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #fff;
}
//下拉框样式
.el-select {
  width: 220px;
  height:34px;
  display: block;
  z-index: 5;
}
.el-select-dropdown__list{
  background-color: #121212;
  color: white;
  border: none;
}
.el-select-dropdown__empty{
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: #121212;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #121212;
  border-bottom-color: #121212;
}
.el-scrollbar__wrap{
  background: #121212;
  overflow: scroll;
  height: 100%;
}
.el-select-dropdown {
  border: none;
  border-radius: none;
}
.el-input--suffix{
  width: 220px;
}
.el-input__inner{
  border: 1px solid rgba(255,255,255,0.5);
  &:hover{
    border-color:#00FFEE;
  }
}
.el-input__inner{
  background: rgba(0, 0, 0, 0.8) !important;
}
.el-input--suffix .el-input__inner {
  height: 36px;
  line-height: 36px;
  border: 1px solid $bd-color;
  border-radius: 2px;
  color: white;
  padding-left: 10px;
  font-size: $font-size;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-select:hover .el-input__inner {
  border-color: $green;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background: rgba(255,255,255,0.12);
}
.el-input__icon {
  width: 25px;
  text-align: center;
  line-height: 30px;
}
.el-select-dropdown__item.selected {
  color: white;
  font: $font-bold;
  line-height: 30px;
}
.el-select-dropdown__item {
  color:white;
  padding-left: 10px;
  font-size: $font-size;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: $green;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-input--suffix .el-input__inner:focus {
  border-color:$green;
}

//多选下拉框样式
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: $green;
  background-color: #FFF;
}
.el-select__tags {
  line-height:30px;
  height: 30px;
  overflow: hidden;
}
//el-input样式
.el-input{
  width:220px;
  line-height: 30px;
  border-radius: 10px;
  font-size: $font-size;
  display: block;
}
.el-input--suffix .el-input__inner{
  border-color:$bd-color;
  color:white;
  &:hover{
    border-color: #00FFEE;
  }
}
.el-input__inner:focus {
  border:1px solid #00FFEE;
}

//禁用样式
.el-input.is-disabled .el-input__inner,
.el-range-editor.is-disabled,
.el-range-editor.is-disabled input,
.el-checkbox__input.is-disabled .el-checkbox__inner,
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner,
.el-textarea.is-disabled .el-textarea__inner{
  background: #000000;
  border: 1px solid rgba(255,255,255,0.5);
  opacity: 0.31;
  // border-color: $bd-color;
  color:white;
}

//placeholder样式
.el-input--suffix .el-input__inner::placeholder{
  color:$color-AAA;
  font-size: $font-size;
}
.el-date-editor .el-range-input::placeholder{
  color:$color-AAA;
  font-size: $font-size;
}
.el-textarea__inner::placeholder{
  color:$color-AAA;
  font-size: $font-size;
}

//日期时间范围选择器
.el-range-editor.el-input__inner {
  width: 220px;
  height: 36px;
  align-items: center;
  border-color:$bd-color;
  &:hover{
    border-color:$green;
  }
}
.el-date-editor{
  .el-range__icon {
    font-size: $font-size;
    margin-left:-5px;
    color:$color-AAA;
    line-height: 30px;
    margin-top: -7px;
  }
  .el-icon-time:before {
    content: "\E78E";
    color:$color-AAA;
  }
  .el-range__close-icon {
    font-size: 13px;
    color: #C0C4CC;
    width: 25px;
    display: inline-block;
    float: right;
    line-height: 30px;
  }
  .el-range-input {
    width:70px;
    font-size: $font-size;
    color: $color-333;
  }
  .el-range-separator {
    padding: 0 7px;
    line-height: 30px;
    width:22px;
    color:$color-999;
    margin-top: -10px;
    text-align: center;
  }
}
.el-picker-panel {
  color: $color-333;
  background:$white;
  .el-date-range-picker__editor{
    width: 145px;
    .el-input__inner::placeholder{
      color:$color-AAA;
      font-size: $font-size;
    }
  }
}
.el-date-range-picker__time-header>.el-icon-arrow-right {
  font-size: $font-size;
  vertical-align: middle;
  display: table-cell;
  color: #303133;
}
.el-picker-panel__footer {
  border-top: 1px solid $bd-grey;
  padding: 10px 20px;
  background-color:$white;
  position: relative;
  font-size:$font-size;
  .el-button--mini span{
    color:$color-999;
  }
  .is-plain{
    border-color:$green;
    span{
      color:$green;
    }
  }
}
.el-button+.el-button {
  margin-left: 15px;
}
.el-date-table{
  td.end-date span,td.start-date span {
    background-color: $green;
  }
  td.available:hover {
    color: $green;
  }
  td.today span {
    color:$green;
  }
  td.next-month,td.prev-month {
    color:$color-AAA;
  }
}
.el-time-spinner__item.active:not(.disabled) {
  color: $green;
}
.el-time-panel{
  left: -22px;
}
.el-time-panel__btn {
  font-size: 12px;
  color: $color-999;
  float: left;
}
.el-time-panel__btn.confirm {
  color: $green;
}
.el-input__inner {
  height: 36px;
  color:$color-333;
  font-size: $font-size;
  border-radius: 2px;
  &:hover {
    border-color:$green;
  }
}
.el-picker-panel__icon-btn {
  font-size: $font-size;
  color:$color-333;
  margin-top:0;
}
.el-icon-d-arrow-left:hover{
  &::before{
    color:$green;
  }
}
.el-icon-d-arrow-right:hover{
  &::before{
    color:$green;
  }
}
.el-icon-arrow-left:hover{
  &::before{
    color:$green;
  }
}
.el-icon-arrow-right:hover{
  &::before{
    color:$green;
  }
}
.el-time-panel__footer {
  border-top: 1px solid $bd-color;
  display: flex;
  justify-content: flex-end;
}

//单个日期选择器样式
.el-date-editor{
  .el-input__inner {
    height: 36px;
    line-height: 36px;
    padding-left: 30px;
    font-size:$font-size;
  }
  .el-date-picker__header{
    color: white !important;
  }
  .el-input__prefix {
    top:0px;
    color:$color-AAA;
  }
  .el-range__close-icon{
    margin-top: -7px;
  }
}
.el-date-table td.current:not(.disabled) span {
  background-color: $green;
  color: white;
}
.el-date-picker__header {
  margin: 12px;
  background-color: #212121;
  color: white;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #21212121;
    border-bottom-color: #21212121;
}
.el-date-picker__header-label{
  color: white;
  &:hover{
    color: #00FFEE;
  }
}
.el-date-table th{
  color: white;
}
.el-date-picker{
  background-color: #212121;
  color: white;
  border: none;
}
.el-date-picker table {
  background-color: #212121;
  color: white;
}
.el-date-picker__time-header {
  .el-date-picker__editor-wrap {
    .el-input{
      width:140px;
    }
  }
}
//时间选择器样式

//复选框样式
.el-checkbox__inner{
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.5019607843137255);
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: black;
  border-color: #00FFEE;
  color: #00FFEE;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: #00FFEE;
}
.el-checkbox__inner:hover{
  border-color: #00FFEE;
}
.el-checkbox__inner::after{
  
    box-sizing: content-box;
    content: "";
    border: 1px solid #FFF;
    border: 1px solid #00FFEE;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
}
.roleTree {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  width: 460px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  // padding: 5px 3px;
  background-color:rgba(0,0,0,.8);
}
*[data-v-531abf13]::-webkit-scrollbar-thumb{
  background: #666;
  border-radius: 4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
*[data-v-282e3214]::-webkit-scrollbar-thumb{
  background: #666;
  border-radius: 4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.el-tree{
  position: relative;
  cursor: default;
  background-color:rgba(0,0,0,.8);
  color: white;
  width: 460px;
}

.el-tree__empty-block{
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 460px;
    height: 100px;
    border-color: rgba(255,255,255,0.501);
    font-size: 13px;
    color: #fff;
    border-radius: 2px;
    resize: none;
    background-color: #212121;
    padding: 5px 10px;
}

.el-tree-node__content:hover {
  background-color: #212121;
}
.el-tree-node__content:visited{
  background-color: #212121;
}
.el-tree-node.is-current > .el-tree-node__content {
  background-color: #212121 !important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color:  #212121;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color: #212121 !important;
}

//单选框样式
.el-radio{
  margin-right: 30px;
  margin-top: 7px;
  &:last-child{
    margin-right: 0;
  }
}
.el-radio__label {
  font-size: $font-size;
  color: white;
}
.el-radio__input.is-checked + .el-radio__label {
  color:$green;
}
.el-radio__input.is-checked + .el-radio__label{
  color: white;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color:$green;
  background:#212121;
}
.el-radio__inner{
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.5019607843137255);
}
.el-radio__inner:hover {
  border: 1px solid $green;
}
.el-radio__input.is-disabled .el-radio__inner{
  background-color:$disabled;
  border-color: $bd-color;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner{
  background-color:$bd-color;
  border-color: $bd-color;
 }
.el-radio__inner::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color:$green;
}

//表格样式
.table{
  width:100%;
  // border: 1px solid rgba(255, 255, 255, 0.5019607843137255);
}
.List-table   .el-table, .el-table__expanded-cell {
  background-color: transparent;
  border: none;
}

.List-table  .el-table tr {
  background-color: rgba(0,0,0,0.4)!important;
}
.el-table{
  font-size: $font-size;
  color:rgba(255,255,255,1);
  border:1px solid rgba(255,255,255,0.501);
  border-bottom:none;
  border-right:none;
  tr {
    .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
      padding-left: 15px;
      
    }
    td {
      margin: 0;
      padding:13px 0;
      background: rgba(0, 0, 0, 0.4);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255,255,255,0.501);
      border-right: none;
      .cell {
        line-height: 18px;
        padding-left:15px;
        div{
          width: 132px;
          margin: 0 auto;
          text-align: center;
          display: flex;
          justify-content:left;
        }
        .el-image{
          .el-image-viewer__wrapper{
            width: 100vw;
            height:100vh;
            .el-image-viewer__mask{
              width: 100vw;
              height:100vh;
            }
            .el-icon-circle-close:before {
              content: "\E78D";
              color:$white;
            }
            .el-image-viewer__actions{
              width: 200px;
              .el-image-viewer__actions__inner{
                width: 100vw;
                padding: 0;
                i{
                  margin-right: 10px;
                  &:last-child{
                    margin-right: 0;
                  }
                }
                .el-image-viewer__actions__divider{
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      &:last-child {
        border-right:none;
        text-align: center;
        color: #00FFEE;
        .cell{
          padding-left:0;
          margin: 0 auto;
          padding-right:0 ;
        }
      }
    }
    th {
      color:white;
      background: $bg-table-header;
      padding:0;
      margin: 0;
      height:40px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      .cell{
        line-height:23px;
        font-weight: 700;
        padding-left: 15px;
      }
      &:last-child {
        border-right:none;
        text-align: center;
        .cell{
          padding-left:0;
        }
      }
    }
  }
  .has-gutter{
    th {
      color:white;
      background:rgba(255,255,255,0.12);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255,255,255,0.501);
      border-right: none;
      padding:0;
      margin: 0;
      height:40px;
      font-size: 16px;
      .cell{
        line-height:23px;
        font-weight: 700;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      &:last-child {
        border-right:none;
      }
    }
  }
  .el-table__fixed-right .el-table__header{
    th {
      color:white;
      background: $bg-table-header;
      padding:0;
      margin: 0;
      height:40px;
    }
  }
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  content: '';
  position: absolute;
  // background-color: #EBEEF5;
  z-index: 1;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background: rgba(255, 255, 255, 0.06);
}
.el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
  padding-left: 15px;
}
.el-table__empty-block{
  background:#212121;
}
//开关样式
.el-switch {
  width:44px;
  font-size: $font-size;
  display: block;
  margin-top: 2px;
  height: 22px;
}
.el-switch__label--left {
  position: absolute;
  z-index:1 ;
  left: 4px;
}
.el-switch__core {
  width: 44px !important;
  height: 22px;
  border: 1px solid #DCDFE6;
  border-radius:11px;
}
.el-switch__label.is-active {
  color:$white;
}
.el-switch__label--right {
  position: absolute;
  z-index:1 ;
  right: 7px;
}
.el-switch__core:after {
  width: 18px;
  height: 18px;
  background-color: $white;
  left: 1px;
}
.el-switch.is-checked .el-switch__core::after {
  left: 100%;
  margin-left: -19px;
}
.el-switch__label {
  font-size: $font-size;
  color: $white;
  margin-top: 2px;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background:rgba(255,255,255,0.3);
}
.el-radio__input.is-disabled.is-checked .el-radio__inner{
  background-color: #000;
}
.el-radio__input.is-disabled .el-radio__inner{
  background:#000;
}

//页面下拉框及input项外部同意样式
.sl-item{
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  p{
    margin-right: 10px;
    line-height: 30px;
    color:$red2;
    span:last-child{
      color:$color-666;
    }
  }
}

//表格操作按钮样式
.el-button--primary {
  &:hover{
    border-color:$green;
  }
}
.el-button--primary:focus{
  border-color:$green;
}

// .el-button span{
//   color:$green;
// }
.el-button--small{
   height: 14px;
   line-height: 14px;
   padding: 0;
   border-right:1px solid rgba(51,51,51,0.2);
   float: left;
   margin: 0 !important;
   font-weight: 700;
   &:last-child{
     border-right:none;
   }
 }
.opr{
  .el-button--small{
    padding: 0 20px;
    font-size: 13px;
  }
}

 //弹框
 .el-dialog__wrapper{
   background-color: rgba(0, 0, 0,0.5);
 }
.el-dialog {
  margin: 0 auto;
  border-radius: 2px;
  background: #333333;
  color: white;
}
.el-dialog__header {
  padding:0 20px;
  line-height: 40px;
  font-weight:700;
  border-bottom:1px solid #000000;
  color:$color-333;
  .el-dialog__title{
    font-size: 14px;
    color: white;
  }
  .el-icon-close:before{
    // content: '';
    color: rgba(255,255,255,0.3);
  }
  .el-dialog__headerbtn {
    display:block;
    background: url('/static/img/close.png') left no-repeat;
    background-size: 16px 16px;
    top: 10px;
  }

}
.el-dialog__body {
  padding:0;
}
.el-dialog__footer{
  // border-top: 1px solid #000000;
  padding: 15px 40px;
  display: flex;
  justify-content: flex-end;
  .dialog-footer{
    display: flex;
    justify-content: flex-end;
    .el-button{
      float: left;
      margin-bottom: 20px;
      // padding: 12px 20px;
    }
    //取消按钮样式
    .el-button--default{
      border:1px solid rgba(217, 217, 217, 1);
      span{
        color:$color-999;
      }
      &:hover{
        background:rgba(0,0,0,0.2);
      }
    }
  }

}
.v-modal {
 z-index: 2001!important;
  opacity: 0;
}

.Cancel {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5019607843137255);
  opacity: 1;
  border-radius: 2px;
}
//表单
.el-form{
  padding: 20px 60px 15px 40px;
  .el-form-item{
    height: auto;
    margin-bottom:15px;
    .el-form-item__label {
      text-align: right;
      font-size:$font-size;
      color:white;
      line-height: 15px;
    }
    .el-form--label-top .el-form-item__label{
      padding: 0px;
    }
    .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
      color: $red2;
    }
    .el-form-item__content {
      line-height: 30px;
      font-size:$font-size;
      .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
        border-color: $red2;
      }
      .el-form-item__error{
        color: $red2;
        position:static;
      }
      .el-checkbox{
        float: left;
        margin-right: 10px;
        .el-checkbox__label{
          color:white;;
          font-size: $font-size;
        }
      }
    }
    .el-switch__label{
      font-size: $font-size;
      margin-top: 2px;
    }
    //弹框上传图片样式
    .el-upload--picture-card {
      background-color:$white;
      border: 1px dashed $bd-color;
      border-radius: 2px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      i {
        font-size: 18px;
        color:$green;
      }
      &:hover{
        border: 1px dashed $green;
      }
    }
    .upload-img{
      .upload-font{
        width: 172px;
        line-height: 18px;
        color:$color-999;
        font-size:12px;
        margin-top: 7px;
      }
    }
    .el-upload-list--picture-card{
      .el-upload-list__item {
        background-color: $bd-color;
        border: 1px dashed $bd-color;
        border-radius: 2px;
        width: 100px;
        height: 100px;
        margin:0;
        &.is-success {
          .el-upload-list__item-status-label {
            display: none;
          }
        }
      }
      .el-upload-list__item-actions:hover {
        background:rgba(0,0,0,1);
        opacity: 0.7;
      }
    }
  }
}
//textarea
.el-textarea__inner{
  width: 220px;
  height:100px;
  border-color:$bd-color;
  font-size: $font-size;
  color:$color-333;
  border-radius:2px;
  resize:none;
  background-color: rgba(0,0,0,0.8);
  padding: 5px 10px;
}
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
  border-color:$red;
}
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
  border-color:$red;
}
.el-textarea__inner:focus{
  border-color:$green;
}
.el-textarea__inner:hover{
  border-color:$green;
}

//内容区域公共样式


//提示框
.sl-confirm{
  .el-dialog{
    width: 380px!important;
    .el-dialog__header {
     display: none;
    }
    .el-dialog__body {
      padding:30px 40px 38px;
    }
  }
}

//表删除文字颜色
.grey-font{
  span{
    color:$color-999;
  }
}
.el-form-right-font{
  position: relative;
  top:0px;
  display: flex;
  span{
    font-size:12px;
    font-weight:400;
    line-height:20px;
    color:$color-999;
    &:first-child{
      color:rgba(255,94,94,1);
    }
    &:last-child{
      width: 255px;
    }
  }
}

//elementui  图标
.el-icon-question{
  color:$bg-nav;
  width: 13px;
  height: 13px;
  &:hover{
    cursor: pointer;
  }
}

/*富文本编辑框*/
.ql-editor {
  min-height: 150px;
  color: white;
  background-color: grba(0,0,0.8)
}

.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
  background-color: rgba(0,0,0,0.8);
}
.ql-toolbar.ql-snow {
  // color: white !important;
  border: 1px solid rgba(255,255,255,0.501) !important;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  width: 450px;
}
.ql-container.ql-snow {
  // color: white !important;
  border: 1px solid rgba(255,255,255,0.501) !important;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  width: 450px;
  // background-color: grba(0,0,0.8) !important;

}
.ql-editor.ql-blank::before {
  color: $color-AAA !important;
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
.ql-snow.ql-toolbar button:hover{
  color:#fff!important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke{
  color:#fff!important;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 13px;
  // color: white;
  color: #ffffff !important;
}
.ql-snow .ql-picker {
  color: white;
  top: -8px;
}
.ql-snow .ql-stroke {
  stroke: $color-333;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: $color-333;
}
.Revise-Frame-Header img, .Revise-Frame-Bottom div, .Operate-Button, .Header-Query-All, .Header-Query, .Header-Right-Button, .Log-Table-Header div img, .Add-Frame-Header img, .Add-Frame-Bottom div, .RightTop-Reserve-Right li p, .Table-Day-Price div:last-child, .dateSelectDiv, .House, .Switch:hover {
  cursor: pointer;
  color: #00FFEE !important
}
.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  float: left;
  height: 100%;
  color: white !important;
}
.ql-snow.ql-toolbar button:active:hover,
.ql-snow .ql-toolbar button:active:hover {
  outline: none;
  color: #00FFEE !important;
}
.ql-snow.ql-toolbar input.ql-image[type=file],
.ql-snow .ql-toolbar input.ql-image[type=file] {
  display: none;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  /* color: #06c; */
  color: #00FFEE !important;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  color: #00FFEE !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  color: #00FFEE !important;
}
@media (pointer: coarse) {
  .ql-snow.ql-toolbar button:hover:not(.ql-active),
  .ql-snow .ql-toolbar button:hover:not(.ql-active) {
    color: white !important;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    color: white !important;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    color: white !important;
  }
}
//多选框
.el-checkbox__label {
  display: inline-block;
  padding-left: 6px;
  line-height: 30px;
  font-size: $font-size;
  color: $color-333;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color:#00FFEE;
}
.el-checkbox {
  font-size: $font-size;
}
.el-checkbox-group {
  overflow: hidden;
}

//下拉菜单
.dropdown{
  height: 30px;
  overflow: hidden;
  .el-dropdown{
    color: rgba(102, 102, 102, 1);
    font-size: 13px;
    .el-button-group{
      .el-button--primary{
        background: rgba(255,255,255,1);
        border-color: rgba(217,217,217,1);
        border-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        color: black;
      }
      .el-button{
        padding: 8px;
        span{
          color:rgba(102, 102, 102, 1);
        }
      }
      .el-dropdown__caret-button{
        padding: 8px 2px;
      }
    }
    .el-dropdown__caret-button::before {
      background:rgba(217,217,217,1);
    }
  }
}
.el-icon-arrow-down:before {
  content: "\E6DF";
  color: $green;
}
.el-icon-arrow-down {
  font-size: 13px;
}
//选项样式
.el-dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  background-color: $white;
  border: 1px solid rgba(217,217,217,1);
  border-radius: 2px;
  .el-dropdown-menu__item {
    line-height: 30px;
    padding: 0 10px;
    font-size: 13px;
    color:rgba(102, 102, 102, 1);
    &:hover{
      background:white;
      color:$green;
    }
  }
}

// 查看展示的文字样式
.check-font{
  font-size: 13px;
  color:$color-333;
}

// 级联选择器

.el-cascader .el-input .el-input__inner:focus, .el-cascader .el-input.is-focus .el-input__inner {
  border-color:$green;
}

.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
  color: #00FFEE;
  font-weight: 700;
  background-color: #121212 !important;
}
.el-input--suffix .el-input__inner:hover {
  border-color: #00FFEE !important;
  color: white;
}
.el-input .el-input--suffix .is-focus{
  border-color: #00FFEE;
}
.el-cascader:hover{
  border-color: #00FFEE !important;
}
.el-cascader__dropdown {
  border: none;
  box-sizing: border-box;
}
.el-cascader-node:hover{
  background:#121212 !important;
}
.el-cascader-node__label{
  background-color: #121212 !important;
}
.el-cascader-node__label:hover{
  background-color: rgba(255,255,255,0.12) !important;
}




// 导航菜单
#app .main-box .left-box .el-menu .el-icon-arrow-down {
  display: none;
}

//进度条
.el-progress{
  height: 14px;
  margin-top: 10px;
}
.el-progress-bar__outer {
  height: 6px;
  background-color: rgba(255,255,255,0.16);
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.el-progress-bar__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  text-align: right;
}
//文字提示框
.el-popover{
  background:rgba(0,0,0,0.8);
  border:none;
  border-radius:2px;
}
.el-popper[x-placement^=left] .popper__arrow {
  border-left-color: rgb(0,0,0);
  opacity: 0.8;
}
.el-popper[x-placement^=left] .popper__arrow::after {
  border-left-color: rgb(0,0,0);
  opacity: 0.8;
}
.el-popper[x-placement^=right] .popper__arrow {
  border-right-color: rgb(0,0,0);
  opacity: 0.8;
}
.el-popper[x-placement^=right] .popper__arrow::after {
  border-right-color: rgb(0,0,0);
  opacity: 0.8;
}
// @font-face {
//   font-family: 'iconfont';  /* project id 1523334 */
//   src: url('//at.alicdn.com/t/font_1523334_gams942gn9.eot');
//   src: url('//at.alicdn.com/t/font_1523334_gams942gn9.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1523334_gams942gn9.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1523334_gams942gn9.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1523334_gams942gn9.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1523334_gams942gn9.svg#iconfont') format('svg');
// }

//.iconfont {    =>这是同用的字体样式，我们一般使用字体时 给与它一个iconfont属性，给予它一个默认样式
//   .iconfont {
//     font-family:"iconfont" !important;
//     font-size:14px;
//     font-style:normal;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
